@model IEnumerable<RhTech.Core.Domain.Entities.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="ph-note-pencil"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="ph-magnifying-glass"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="ph-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
