@model RhTech.Core.Domain.Entities.Candidato

@{
    ViewData["Title"] = "Candidato";
    ViewData["SubTitle"] = "Detalhes";
}

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Detalhes do Candidato - (@Html.DisplayFor(model => model.NomeCompleto))</h5>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomeCompleto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cpf)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nacionalidade)
            </dd>
        </dl>

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-labeled btn-labeled-start" asp-action="Edit" asp-route-id="@Model?.Id">
                    <span class="btn-labeled-icon bg-black bg-opacity-20">
                        <i class="ph-pencil"></i>
                    </span>
                    Alterar
                </a>
                <a class="btn btn-danger btn-labeled btn-labeled-start" asp-action="Index">
                    <span class="btn-labeled-icon bg-black bg-opacity-20">
                        <i class="ph-arrow-arc-left"></i>
                    </span>
                    Voltar
                </a>
            </div>
        </div>
    </div>
   
    <div class="card-footer">
    </div>
</div>